@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

.button-border{
  box-shadow: 1px 1px 3px #000;
}

.deleteButton:hover{
  color: rgb(255, 0, 0);
}

.font{
  p,pre,tr,td,legend{
    font-family: 'Lexend Deca', sans-serif;
  }
  th{
    font-family: 'Lexend Deca', sans-serif;
    font-weight: bold;
  }
}

