.button-border {
  box-shadow: 1px 1px 3px #000;
}

.table-border {
  box-shadow: 3px 3px 5px rgb(112, 112, 112);
}

.deleteButton:hover {
  color: rgb(255, 0, 0);
}

.cancelButton:hover {
  color: rgb(1, 179, 1);
}

.font {

  p,
  pre,
  tr,
  td,
  legend,
  label {
    font-family: 'Lexend Deca', sans-serif;
  }

  th {
    font-family: 'Lexend Deca', sans-serif;
    font-weight: bold;
  }
}

.f3-xl {
  font-size: 1.8em;
  letter-spacing: 1px;
}

.f3-xl-logo {
  font-size: 2em;
  letter-spacing: 1px;
}

.mb6-xl {
  margin-bottom: 7rem;
}

.ls-header {
  letter-spacing: 0.75rem;
}

.ls {
  letter-spacing: 2rem;
}

.f4-xl {
  font-size: 1em;
}

.f5-xl {
  font-size: 0.9em;
}

.w-95 {
  width: 98%;
}

.font1 {

  p,
  pre,
  tr,
  td,
  legend,
  label {
    font-family: 'Azeret Mono', monospace;
    font-weight: 400;
  }

  th {
    font-family: 'Azeret Mono', monospace;
    font-weight: 400;
  }

  // letter-spacing: 1px;
}

.font2 {

  p,
  pre,
  tr,
  td,
  legend,
  label {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
  }

  th {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
  }

  // letter-spacing: 1px;
}

#printContainer {
  background-color: white;

  table {
    border: 1px solid black;
    border-collapse: collapse;
    border-style: solid;
    table-layout: fixed;
  }

  td {
    border: 1px solid black;
    word-wrap: break-word;
  }
}

.bg-button {
  background-color: #784b84;
}

.btn-text {
  color: #7c4700;
}

.b--dashed-color {
  border-color: #311432;
}