@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap');
.button-border{
  box-shadow: 1px 1px 3px #000;
}

.table-border{
  box-shadow: 3px 3px 5px rgb(112, 112, 112);
}

.deleteButton:hover{
  color: rgb(255, 0, 0);
}

.font{
  p,pre,tr,td,legend,label{
    font-family: 'Lexend Deca', sans-serif;
  }
  th{
    font-family: 'Lexend Deca', sans-serif;
    font-weight: bold;
  }
}

.f3-xl{
    font-size: 1.8em;
}

.w-95{
  width: 98%;
}

#printContainer{
  background-color: white;
  table{
    border: 1px solid black;
    border-collapse: collapse;
    border-style: solid;
    table-layout: fixed;
  }
  td{
    border: 1px solid black;
    word-wrap: break-word;
  }

}
